.btn-collapse {
  margin-right: 2rem;
}

.dropdown-item {
  display: block;
  min-width: 1rem;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: normal;
  background-color: transparent;
  border: 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 1rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #21252b;
  transition: 0.4s;
}

.my-container {
  margin-left: 15rem;
}

/* for navbar */

/* for main section */
